<!DOCTYPE html>
<html>
<head>
<title>Call</title>
</head>

<body>

<h2>Voice Call</h2>

<button onclick="Call()">Call</button>

<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>

<script>
const socket = io();
let localStream;
let peer;

async function startCall() {
    localStream = await navigator.mediaDevices.getUserMedia({ audio: true });

    peer = new RTCPeerConnection();

    localStream.getTracks().forEach(track => {
        peer.addTrack(track, localStream);
    });

    peer.ontrack = (event) => {
        const audio = new Audio();
        audio.srcObject = event.streams[0];
        audio.play();
    };
}
</script>

</body>
</html>