<!DOCTYPE html>
<html>
<head>
    <title>Call</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="card">
    <h2>📞 Voice Call</h2>

    <h3 id="status">Waiting...</h3>

    <button id="acceptBtn" class="accept" style="display:none;">✅ Accept</button>
    <button id="rejectBtn" class="reject" style="display:none;">❌ Reject</button>

    <audio id="remoteAudio" autoplay></audio>
</div>

<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>

<script>
const socket = io();
let peer;
let localStream;
let caller = null;

navigator.mediaDevices.getUserMedia({ audio: true })
.then(stream => {
    localStream = stream;
});

// Incoming call UI
socket.on("incoming_call", (data) => {
    caller = data.from;

    document.getElementById("status").innerText = "Incoming call from " + caller;
    document.getElementById("acceptBtn").style.display = "block";
    document.getElementById("rejectBtn").style.display = "block";
});

// Accept
document.getElementById("acceptBtn").onclick = () => {
    document.getElementById("status").innerText = "Call Connected";
};

// Reject
document.getElementById("rejectBtn").onclick = () => {
    window.location.href = "/chat";
};
</script>

</body>
</html>