<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="card">
<h2>{{ email }}</h2>

<input id="target" placeholder="Enter email to call">
<button onclick="callUser()">Call</button>

<hr>

<input id="msg" placeholder="Message">
<button onclick="sendMsg()">Send</button>

<div id="chat"></div>
<div id="popup" style="display:none; background:black; color:white; padding:20px; position:fixed; top:40%; left:40%;">
    <p id="caller"></p>
    <button onclick="acceptCall()">Accept</button>
    <button onclick="rejectCall()">Reject</button>
</div>
</div>

<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>

<div id="popup" style="display:none; background:black; color:white; padding:20px; position:fixed; top:40%; left:40%;">
    <p id="caller"></p>
    <button onclick="acceptCall()">Accept</button>
    <button onclick="rejectCall()">Reject</button>
</div>

<script>
const socket = io();
let incomingCaller = "";

// REGISTER
socket.on("connect", ()=>{
    socket.emit("register", {email: "{{ email }}"});
});

// CALL
function callUser(){
    let target = document.getElementById("target").value;

    socket.emit("call_user", {
        to: target,
        from: "{{ email }}"
    });

    alert("Calling...");
}

// 🔥 RECEIVER POPUP
socket.on("incoming_call", (data)=>{
    incomingCaller = data.from;

    document.getElementById("popup").style.display = "block";
    document.getElementById("caller").innerText =
        "Incoming call from " + data.from;
});

// ACCEPT
function acceptCall(){
    socket.emit("accept_call", {
        to: incomingCaller,
        from: "{{ email }}"
    });

    window.open("/call?target="+incomingCaller, "_blank");
}

// REJECT
function rejectCall(){
    socket.emit("reject_call", {
        to: incomingCaller,
        from: "{{ email }}"
    });

    document.getElementById("popup").style.display = "none";
}

// CALLER RESPONSE
socket.on("call_accepted", (data)=>{
    window.open("/call?target="+data.from, "_blank");
});

socket.on("call_rejected", ()=>{
    alert("Call Rejected");
});
</script>

</body>
</html>