<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="card">
<h2>{{ email }}</h2>

<input id="target" placeholder="Enter email to call">
<button onclick="callUser()">Call</button>

<hr>

<input id="msg" placeholder="Message">
<button onclick="sendMsg()">Send</button>

<div id="chat"></div>
<div id="popup" style="display:none; background:black; color:white; padding:20px; position:fixed; top:40%; left:40%;">
    <p id="caller"></p>
    <button onclick="acceptCall()">Accept</button>
    <button onclick="rejectCall()">Reject</button>
</div>
</div>

<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script>
const socket = io();

// REGISTER USER
socket.on("connect", ()=>{
    socket.emit("register", {email: "{{ email }}"});
});

// CHAT
function sendMsg(){
    let msg = document.getElementById("msg").value;
    socket.emit("send_message", {msg: "{{email}}: " + msg});
}

socket.on("receive_message", data=>{
    document.getElementById("chat").innerHTML += "<p>"+data.msg+"</p>";
});

// CALL
function callUser(){
    let target = document.getElementById("target").value;
    window.open("/call?target="+target,"_blank");
}
</script>

</body>
</html>